@media all screen and (max-width:700px),(max-width:320px),(max-width:360px),(max-width:384px),(max-width:414px),(max-width:600px),(max-width:768px),(max-width:800px){
    
    .profile {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    transition: .7s;
}
    
    .profile:hover {
   border: 3px solid blue;
    transition: .9s;
    height: 110px;
    width: 110px;
    
}
    h2{
        font-size: 17px
    }
    .caption p {
        font-size: 12px;
    }
    buttn {
    padding: 10px;
    background-color: lightseagreen;
    color: white;
}
    
    .capt {
        display: none;
    }
    
    .capti {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
  color: white;
}
    .buttn{
     padding: 10px;
        font-size: 10px;
        color: white;
    }

}

.details {
    padding-left: 32px;
    padding-right: 32px;
    text-align: justify;
}

@media only screen and (min-width:801px){
    .details {
        display: none;
    }
}


@media all screen and (max-height:568px),
(max-height:640px),
(max-height:736px),
(max-height:960px),
(max-height:1024px),
(max-height:1200px) {}